@media print {
    .name_tag>img {
        display:none;
    }
}

@media (max-width:780px) {
    .name_tag>img {
        height:225px;
    }
}

@media (max-width:780px) {
    .menu>h1 {
        text-align:left;
        padding-left:40px;
    }
    .menu>ol {
        text-align:left;
        list-style-position: inside;
    }
    h3 {
        font-style: italic;
    }
}
